@import url('https://fonts.googleapis.com/css2?family=Solitreo&display=swap');
.super_vip_banner_section {
    height: 645px;
}

.super_vip_banner_section .container {
    background-image: url(../../images/banner_dark.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.super_banner_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 645px;
}

.super_banner_content h1 {
    font-weight: 700;
    font-size: var(--font_size_54);
    line-height: 60px;
    letter-spacing: 0%;
    color: var(--white_color);
    margin-bottom: 40px;
}

.super_banner_content h2 {
    font-weight: 400;
    font-size: var(--h1_font_size);
    line-height: 40px;
    letter-spacing: 0%;
    color: var(--white_color);
    margin-bottom: 40px;
}

.super_banner_content p {
    font-weight: 400;
    font-size: var(--h2_font_size);
    line-height: 30px;
    letter-spacing: 0%;
    color: var(--white_color);
    margin-bottom: 40px;
    text-align: justify;
}

.super_vip_banner_bottom .container {
    background-color: var(--body_paragraph_color);
    padding: 45px 30px 29px 30px;
}

.super_banner_bottom_content {
    text-align: start;
}

.super_banner_bottom_content h2 {
    font-weight: 400;
    font-size: var(--h1_font_size);
    line-height: 40px;
    letter-spacing: 0%;
    color: var(--background_color);
    margin-bottom: 30px;
}

.super_banner_bottom_content p {
    font-weight: 400;
    font-size: var(--h2_font_size);
    line-height: 30px;
    letter-spacing: 0%;
    color: var(--background_color);
}

.super_sec_banner_section {
    height: 645px;
}

.super_sec_banner_section .container {
    background-image: url(../../images/banner_dark.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.super_sec_banner_content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 645px;
}

.super_sec_banner_content p {
    margin-bottom: 0px;
    font-size: var(--font_size_22);
}

.super_vip_count_card {
    text-align: center;
}

.super_vip_count_card h2 {
    font-weight: 700;
    font-size: var(--font_size_60);
    line-height: 40px;
    letter-spacing: 0%;
    vertical-align: bottom;
    color: #5D4B2B;
    margin-bottom: 9px;
}

.super_vip_count_card p {
    font-weight: 700;
    font-size: var(--h2_font_size);
    line-height: 30px;
    letter-spacing: 0%;
    vertical-align: bottom;
    color: #5D4B2B;
}
.super_vip_count_section .container{
    background-color: var(--white_color);
    padding: 30px 0;
}
.super_vip_more_section .container{
    background-color: #C4B99D;
    padding: 45px 30px 60px 30px;
}
.super_vip_more_content h2{
    font-weight: 400;
    font-size: var(--h1_font_size);
    line-height: 40px;
    letter-spacing: 0%;
    color: var(--background_color);
    margin-bottom: 30px;
}
.super_vip_more_content h2.strong_h2{
    font-weight: 700;
    font-size: var(--h1_font_size);
    line-height: 40px;
    letter-spacing: 0%;
    color: var(--background_color);
    margin-bottom: 30px;
}
.super_vip_more_content p{
    font-weight: 400;
    font-size: var(--h2_font_size);
    line-height: 30px;
    letter-spacing: 0%;
    color: var(--background_color);
}
.super_vip_more_content ul li p{
    margin-bottom: 5px;
}
.super_vip_more_content ul{
    margin-bottom: 0px;
}
.super_vip_more_button{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
}
.super_vip_just_dark_banner{
    height: 645px;
    margin-bottom: 40px;
}
.super_vip_just_dark_banner .container{
    background-image: url(../../images/banner_dark.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.super_vip_booking p{
    font-family: "Solitreo", cursive;
    font-weight: 400;
    font-size: var(--h2_font_size);
    line-height: 30px;
    letter-spacing: 0%;
    text-align: justify;
    color: var(--white_color);
}
.super_vip_booking{
    padding-left: 40px;
}
.super_vip_booking_form form input {
	font-weight: 400;
	font-size: var(--font-size);
	line-height: 29px;
	letter-spacing: 0%;
	margin-bottom: 25px;
	color: var(--primary_color);
	padding: 10.5px 20px;
	width: 100%;
}
.super_vip_booking_form{
    font-size: var(--h3_font_size);
    font-weight: 400;
}
.super_vip_booking_section .container{
    background-color: #6B635A;
    padding: 45px 0;
}
.super_vip_booking_section .container.super_booking_agree{
    background-color: #232320;
    padding: 20px 10px;
}
.super_booking_bottom_image img{
    width: 385px;
height: 230px;
margin-top: 80px;
}
.super_vip_booking_bottom{
    margin-bottom: 50px;
}